@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link rel="stylesheet" href="~/css/inquiries.css" asp-append-version="true" />
</head>

<h1>Registrér henvendelse</h1>
<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Formular", new { area = "" })">
    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
</form>

<div class="form-wrapper">
    <button onclick="dropDown()" class="form-title">Angiv Måned</button>
    
        <div id="form-drop" class="form-drop-style">
            <form></form>
        </div><!--DROP DOWN -->

    <button onclick="dropDown2()" class="form-title">Type Henvedelse</button>

    <div id="form-drop2" class="form-drop-style">
        <form>
            <input type="checkbox" id="personal" class="checkbox-form" name="personal" value="Personlig">
            <label for="personal" class="label-form">Personlig</label>

            <input type="checkbox" id="phone" class="checkbox-form" name="personal" value="Personlig">
            <label for="phone" class="label-form">Telefon</label>

            <input type="checkbox" id="virtual" class="checkbox-form" name="virtual" value="Virtuel">
            <label for="virtual" class="label-form">Virtuel</label>
        </form>
    </div><!--DROP DOWN -->

        <button onclick="dropDown3()" class="form-title">Samtaletid</button>

    <div id="form-drop3" class="form-drop-style">
        <form>
            <input type="checkbox" id="personal" class="checkbox-form" name="personal" value="Personlig">
            <label for="personal" class="label-form">1-15 min.</label>

            <input type="checkbox" id="phone" class="checkbox-form" name="personal" value="Personlig">
            <label for="phone" class="label-form">16-30 min.</label>

            <input type="checkbox" id="virtual" class="checkbox-form" name="virtual" value="Virtuel">
            <label for="virtual" class="label-form">31-45 min.</label>

            <input type="checkbox" id="virtual" class="checkbox-form" name="virtual" value="Virtuel">
            <label for="virtual" class="label-form">46-60 min.</label>

            <input type="checkbox" id="virtual" class="checkbox-form" name="virtual" value="Virtuel">
            <label for="virtual" class="label-form">60+ min.</label>
        </form>
    </div><!--DROP DOWN -->
    
</div><!-- FROM WRAPPER -->
<script src="~/js/inquiries.js"></script>