@using UCLStudievejlederApp.Models.Formular
@using UCLStudievejlederApp.Models.Generic

@model FormularViewModel

<head>
    <link rel="stylesheet" href="~/css/inquiries.css" asp-append-version="true" />
</head>

<h1>Registrér henvendelse</h1>

<div class="form-wrapper">
        <button class="form-title"><img src="" alt="" />Angiv måned</button>
    
        <div class="form-drop-style show">
            <form></form>
            @foreach (UCLSelectModel question in Model.Questions[0].Options)
            {
                <h3>@question.Name</h3>
            }
        </div><!--DROP DOWN -->

    <button class="form-title">Type af henvendelse</button>

    <div class="form-drop-style">
        <form>
            <input onclick="goToNext(2)" type="radio" id="personal" class="checkbox-form" name="personal" value="Personlig">
            <label for="personal" class="label-form">Personlig</label>

            <input onclick="goToNext(2)" type="radio" id="phone" class="checkbox-form" name="personal" value="Personlig">
            <label for="phone" class="label-form">Telefon</label>

            <input onclick="goToNext(2)" type="radio" id="virtual" class="checkbox-form" name="personal" value="Virtuel">
            <label for="virtual" class="label-form">Virtuel</label>
        </form>
    </div><!--DROP DOWN -->

    <button class="form-title">Samtaletid</button>

    <div class="form-drop-style">
        <form>
            <input type="checkbox" id="personal" class="checkbox-form" name="personal" value="Personlig">
            <label for="personal" class="label-form">1-15 min.</label>

            <input type="checkbox" id="phone" class="checkbox-form" name="personal" value="Personlig">
            <label for="phone" class="label-form">16-30 min.</label>

            <input type="checkbox" id="virtual" class="checkbox-form" name="virtual" value="Virtuel">
            <label for="virtual" class="label-form">31-45 min.</label>

            <input type="checkbox" id="virtual" class="checkbox-form" name="virtual" value="Virtuel">
            <label for="virtual" class="label-form">46-60 min.</label>

            <input type="checkbox" id="virtual" class="checkbox-form" name="virtual" value="Virtuel">
            <label for="virtual" class="label-form">60+ min.</label>
        </form>
    </div><!--DROP DOWN -->

    <button class="form-title">Hvem blev vejledt</button>

    <div class="form-drop-style">
        <form>
            <input type="checkbox" id="personal" class="checkbox-form" name="personal" value="Personlig">
            <label for="personal" class="label-form">Kvinde</label>

            <input type="checkbox" id="phone" class="checkbox-form" name="personal" value="Personlig">
            <label for="phone" class="label-form">Mand</label>

            <input type="checkbox" id="virtual" class="checkbox-form" name="virtual" value="Virtuel">
            <label for="virtual" class="label-form">Gruppe</label>
        </form>
    </div><!--DROP DOWN -->

    <button class="form-title">Studiestatus</button>

    <div class="form-drop-style">
        <form>
            <input type="checkbox" id="personal" class="checkbox-form" name="personal" value="Personlig">
            <label for="personal" class="label-form">Aktiv</label>

            <input type="checkbox" id="phone" class="checkbox-form" name="personal" value="Personlig">
            <label for="phone" class="label-form">Ikke aktiv</label>
        </form>
    </div><!--DROP DOWN -->

    <button class="form-title">Institution</button>

    <div class="form-drop-style">
        <form>
            <input type="checkbox" id="personal" class="checkbox-form" name="personal" value="Personlig">
            <label for="personal" class="label-form">Odense</label>

            <input type="checkbox" id="phone" class="checkbox-form" name="personal" value="Personlig">
            <label for="phone" class="label-form">Vejle</label>

            <input type="checkbox" id="virtual" class="checkbox-form" name="virtual" value="Virtuel">
            <label for="virtual" class="label-form">Jelling</label>

            <input type="checkbox" id="virtual" class="checkbox-form" name="virtual" value="Virtuel">
            <label for="virtual" class="label-form">Svendborg</label>

            <input type="checkbox" id="virtual" class="checkbox-form" name="virtual" value="Virtuel">
            <label for="virtual" class="label-form">Fredericia</label>

        </form>
    </div><!--DROP DOWN -->

       <button class="form-title">Studieretning</button>

    <div class="form-drop-style">
        <form>
            <input type="checkbox" id="personal" class="checkbox-form" name="personal" value="Personlig">
            <label for="personal" class="label-form">MMD</label>

            <input type="checkbox" id="phone" class="checkbox-form" name="personal" value="Personlig">
            <label for="phone" class="label-form">Datamatiker</label>

            <input type="checkbox" id="virtual" class="checkbox-form" name="virtual" value="Virtuel">
            <label for="virtual" class="label-form">Webudvikler</label>
        </form>
    </div><!--DROP DOWN -->

    <button class="form-title">Emne/Kategori</button>

    <div class="form-drop-style">
        <form>
        </form>
    </div><!--DROP DOWN -->
</div><!-- FROM WRAPPER -->


<div class="form-submit">
    <button type="submit" value="Submit">Indsend</button>
</div><!-- FORM SUBMIT -->
<script src="~/js/inquiries.js"></script>