.overlay {
    /*height: 60vh;*/
    width: 40%;
    position: fixed;
    z-index: 200;
    top: 20%;
    left: 30%;
    background-color: rgba(255,255,255, 0.5);
    background-color: white;
    overflow-y: hidden;
    transition: 0.5s;
    display: none;
    box-shadow: rgb(100 100 111 / 30%) 0px 7px 29px 0px;
    border-radius: 10px;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    margin: 30px;
    text-decoration: none;
    font-size: 30px;
    color: #FFFFFF;
    background-color: #00454E;
    display: block;
    transition: 0.3s;
    border-radius: 7px;
}

.overlay h3 {
    text-align: center;
    font-size: 30px;
}

.overlay a:hover, .overlay a:focus {
    color: #DDDDDD;
}

.overlay .closebtn {
    width: 20px;
    float: right;
    cursor: pointer;
}

.overlay .closebtn:hover {
    opacity: 0.4;
}

.close-icon {
    padding: 30px;
}