* {
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova', sans-serif;
}

body {
    background-color: #CAE4E3;
}

.nav-header {
    padding: 35px 110px 0px 110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.logo img {
    width: 250px;
}

.right-box {
    height: 100%;
    width: 200px;
    display: flex;
}

.right-box img {
    width: 40px;
    float: right;
    margin-left: 50px;
}

.sidebar {
    width: 120px;
    height: 380px;
    background-color: #FAE76A;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: fixed;
    right: 0;
    top: 30%;
    padding-top: 7px;
    z-index: 2;
}

.sidebar-icon {
    width: 60px;
    padding: 15px 10px 15px 10px;
    margin-left: 20px;
}

.sidebar-icon:hover {
    cursor: pointer;
}

.border {
    border-bottom: 2px solid black;
}

.footer {
    background-color: #00454E;
    color: white;
    padding: 15px 120px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-right-box {
    display: flex;
    align-items: center;
}

.footer-right-box img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 100%;
    margin-left: 20px;
}

.main-container {
    height: 100vh;
    background-color: white;
    margin: 0 auto;
    padding: 50px;
}

.master {
    width: 100%;
    height: 100vh;
    padding: 35px 110px;
    box-sizing: border-box;
    margin-bottom: 60px;
}

#bg-blur {
    filter: blur(0);
    z-index: 1;
}