@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Administrer brugere</h1>

<div>

</div>

<table class="user-edit" cellspacing="0" cellpadding="0">
    <tr>
        <a href="#">
        <th>Navn</th>
        <th>E-mail</th>
        <th>Institution</th>
        <th>Studieretning</th>
        </a>
    </tr>
  <tr>
    <td>Freddddd</td>
    <td>frede@false.dk</td>
    <td>Odense</td>
    <td>Datamatiker</td>
  </tr>
  <tr>
    <td>Sebbe Danmark</td>
    <td>sebbee@true.dk</td>
    <td>Jelling</td>
    <td>MMD</td>
  </tr>
  <tr>
    <td>Jacob Pundris</td>
    <td>jd@richie.dk</td>
    <td>Svendborg</td>
    <td>Webudvikler</td>
  </tr>
  <tr>
    <td>Mia Studie</td>
    <td>miadb@ja.dk</td>
    <td>Fredericia</td>
    <td>Professionel studerende</td>
  </tr>
</table>

