@using static DatabaseAccess.User.UserDb
@model List<User>


<h1>Administrer brugere</h1>

<div>

</div>

<table class="user-edit" cellspacing="0" cellpadding="0">
    <tr> 
        <th>Navn</th>
        <th>E-mail</th>
        <th>Institution</th>
        <th>Studieretning</th>
        
    </tr>

    @foreach(User user in Model) {
        <tr>
            <td>@user.FullName</td>
            <td>@user.Email</td>
            <td>Odense</td>
            <td>Datamatiker</td>
        </tr>
    }
</table>

